.kalendriPoints-container {
  width: 100vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: -50px;
}

.kalendriPoints-interactable {
    cursor: pointer;
    width: 95px;
    padding: 25px; 
    align-self: center;
    margin-bottom: 50px;
    margin-left: 50px; 
    transition: transform 0.3s ease;
}

.kalendriPoints-interactable.hover {
    transform: translateX(5px);
}



.kalendriPoints-pealkiri {
    margin-bottom: -30px;
}

.kalendriPoints-sisu {
  display: flex;                      /* horizontal row of tiles */
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 20px;
  width: 100vw;
  height: 250px;
  overflow-x: auto;                   /* enable scrolling */
  overflow-y: hidden;
  cursor: grab;                       /* show grab cursor */
  user-select: none;                  /* prevent text selection */
  -webkit-overflow-scrolling: touch;  /* smooth on iOS */
  padding-right: 200px;
  padding-left: 100px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* === WebKit scrollbar styling === */
.kalendriPoints-sisu::-webkit-scrollbar {
  display: none;
}


.kalendriPoints-sisu.dragging {
  cursor: grabbing;                   /* when actively dragging */
}

/*scaling */
@media (max-width: 1250px) {
    .kalendriPoints-pealkiri {
        margin-bottom: -40px;
    }
}

@media (max-width: 880px) {
    .kalendriPoints-sisu {
        padding-right: 200px;
        padding-left: 10px;
    }

}


@media (max-width: 670px) {
    .kalendriPoints-pealkiri {
        margin-top: -30px;
    }
    .kalendriPoints-container {
        margin-bottom: -30px;
    }
    .kalendriPoints-sisu {
        padding-right: 200px;
        padding-left: 0px;
    }

    .kalendriPoints-interactable {
        width: 95px;
        margin-left: 40px;
    }
}

@media (max-width: 450px) {
    .kalendriPoints-sisu {
        display: flex;                  
        flex-direction: column;;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: unset;
        margin-right: auto;
        height: unset;
        overflow-x: hidden;   
        overflow-y: auto;                   
        cursor:default;              
        user-select: none;                 
        -webkit-overflow-scrolling: unset;  
        padding-right: unset;
        padding-left: unset;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .kalendriPoints-sisu.dragging {
        cursor: default;                   /* when actively dragging */
    }

    .kalendriPoints-container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin-left: unset;
        margin-right: unset;
        align-items: center; 
        justify-content: center;
        margin-top: -50px;
    }

    .kalendriPoints-interactable {
        width: 85px;
        padding: 25px;
        margin-top: 33px;
        align-self: center;
        margin-bottom: 20px;
        margin-left: 0px;
    }
}

