
  .suurVahe {
    display: inline-block;
    width: 16px; 
  }
  
  .newLine:after {
    clear: both;
    content: '';
    display: table;
    margin: 0;
    padding: 0;
  }

  .esileht-main {
    margin-top: 200px;
    margin-bottom: 100px;
    background-color: transparent;
  }
  
  .esileht-body {
    position: relative;
    background-color: transparent; 
    min-height: 100vh;            
    display: flex;
    flex-direction: column; 
    align-items: center;         
  }
  

  
  .esileht-bg {
    position: absolute;  
    top: 0;
    left: 0;
    width: 100vw;
    height: 200vh;  
    z-index: -1;          
    background-image: url('src/assets/General/must valge bg logo ajutine.svg');
    background-repeat: repeat;
    background-size: 200px 250px; 
    background-position: 0 1000px, 1000px 400px;
  }