.kirjeldus {
    position: fixed;
    top: 50%;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    z-index: 200000000;
    background: linear-gradient(to bottom, #02265A 60%, #52575F);
    width: 850px;
    height: 600px;
    border-radius: 25px;
    border: 2px solid #EFA900;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 0px;
    box-sizing: border-box; 
    overflow-x: hidden; 
    overflow-y: hidden;
}



.kirjeldus::-webkit-scrollbar { 
    background: transparent; 
    width: 0px;
}

.kirjeldus-logo {
    position: absolute;
    bottom: 16px;
    left: 27px;
    transform: scale(1.3);
}


.kirjeldus-line {
    content: "";
    z-index: 1000;
    margin-top: 24px;
    margin-bottom: 22px;
    width: 100%;
    height: 2.4px;
    background-color:  #EFA900;
    border-radius: 50px;
    flex-shrink: 0;
}

.kirjeldus-text {
    z-index: 2000;
    text-align: left;
    color: #F5F5F5;
    font-weight: 200;
    font-size: 18px;
    line-height: 1.3;
    padding-left: 40px;
    padding-right: 40px;
}


.liikmed-quitIcon {
    position: fixed;
    top: 55px;
    right: 55px;
    z-index: 55000;    
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

.liikmed-quitIcon img {
    width: 40px;
} 


.liikmed-arrows {
    position: fixed;
    bottom: -12px;
    right: 30px;
    z-index: 50000;    
    display: flex;
    padding: 40px;
}

.liikmed-arrow {
    color: #F5F5F5;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    margin-left: 34px;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

.liikmed-arrow img {
    width: 40px;
}

.liikmed-top {
    margin-top: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    margin-bottom: 5px;
}

.liikmed-top img {
    margin-right: 15px;
    margin-left: auto;
    border-radius: 50px;
    z-index: 2000;
}

.header-top-phoneLine {
    content: "";
    position: absolute;
    z-index: 2000;
    width: 2000px;
    height: 2.4px;
    margin-top: 0;
    margin-bottom: 25px;
    background-color: #efa700;
}

.header {
    position: relative;
    flex-grow: 1; 
    text-align: center; 
    padding: 20px;
    z-index: 2000;
    font-family: Cambria;
    color: #F5F5F5;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.25;
}


.header-line {
    content: "";
    position: absolute;
    z-index: -2000;
    transform: translate(-50%, 0%);
    width: 2000px;
    height: 2.4px;
    background-color: #efa700;
}

.header-line:first-child {
    top: -5%;
}

.header-line:last-child {
    bottom: -6%;
}


.liikmed-background {
    position: fixed;
    left: 0;
    top: -2px;
    width: 100vw;
    height: calc(100vh + 2px);
    z-index: 50000;
    background: linear-gradient(to top, #02275a 8%,#02275aef 35%, #52575fb8);
    border-color: transparent;
}


.sotsMeediaLingid {
    display: flex;        
    justify-content: flex-start;
    gap: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 41.5px;
}

.sotsiaalMeedia {
    margin-top: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 5000;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.2);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

.sotsiaalMeedia-empty {
    margin-top: 0;
    background-color: transparent;
    border: none;
    z-index: 5000;
    height: 41.5px;
    width: 20px;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.2);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}



/*Scaling*/
@media (max-width: 1300px) {
    .kirjeldus {
        width: 590px;
        height: 730px;
    }

    .liikmed-arrows {
        right: 0px;
    }

    .liikmed-arrow {
        margin-left: 25px;
    }

    .liikmed-arrow img {
        width: 35px;
    }

    .liikmed-top {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: space-between;
        margin-bottom: 15px; 
    }
    
    .liikmed-top img {
        margin-right: auto;
        margin-left: auto;
        max-width: 520px;
        width: 88%;
        margin-bottom: 20px;
        border-radius: 30px;
    }

    .header {
        font-size: 26px;
    }

    .header-line:first-child {
        top: -3%;
    }
    
    .header-line:last-child {
        bottom: -4%;
    }
    .liikmed-quitIcon {
        top: 32px;
        right: 32px;
    }
    
    .liikmed-quitIcon img {
        width: 30px;
    } 

    .liikmed-arrows {
        right: 0px;
        bottom: -20px
    }

    .liikmed-arrow {
        margin-left: 20px;
    }

    .liikmed-arrow img {
        width: 30px;
    }
    
}

@media (max-width: 670px) {
    .kirjeldus {
        width: 90vw;
        height: 730px;
    }
    
}

@media (max-width: 530px) {
    .kirjeldus {
        width: 100vw;
        height: unset;
        min-height: 630px;
        transform: translate(-50%, -50%) scale(0.85);
    }

    .kirjeldus-text {
        z-index: 2000;
        text-align: left;
        color: #F5F5F5;
        font-weight: 200;
        font-size: 15px;
        line-height: 1.3;
        padding-left: 10px;
        padding-right: 10px;
    }

    .liikmed-top {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: space-between;
        margin-bottom: 15px; 
    }
    
    .liikmed-top img {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        margin-top: -14px;
        border-radius: 0;
        margin-bottom: -10px;
    }

    .header{
        margin-top: 40px;
        margin-bottom: 0px;
    }

    .sotsiaalMeedia {
        transform: scale(1.1);
    }

    .liikmed-quitIcon {
        top: 20px;
        right: 20px;
    }
    
    .liikmed-quitIcon img {
        width: 30px;
    } 


    .liikmed-arrows {
        position: fixed;
        bottom: -20px;
        right: 0px;
        z-index: 50000;    
        display: flex;
        padding: 30px;
    }
    
    .liikmed-arrow {
        padding: 8px;
        margin-left: 15px;
    }

    .liikmed-arrow img {
        width: 30px;
    }
    

}