.liikmetile {
    width: 100%; /* Adapt to grid column */
    max-width: 360px; /* Prevent elements from getting too large */
    min-width: 300px; 
    background-color: #02265A;
    background-color:  #52575F;
    border: 20px solid #EFA900; 
    border-width: 3.5px;
    border-radius: 35px;
    padding: 0;
    box-sizing: border-box; 
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin-bottom: 2%;
    transition: transform 0.3s ease;
}

.liikmetile:hover {
    transform: translateY(-10px)
}


.liikmetile img {
    display: block; 
    width: 100%;
    height: auto;
    border-radius: 20px;
}




.title {
    z-index: 500;
    font-family: Cambria;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #02275a8e;
    padding: 15px;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;
}

/*Scaling*/
@media (max-width: 1010px) {
    .liikmetile {
        max-width: 370px;
    }
    
}

@media (max-width: 670px) {
    .liikmetile {
        min-width: 83%;
    }
    
}

@media (max-width: 550px) {
    .liikmetile {
        min-width: 90%;
    }
    
}

@media (max-width: 550px) {
    .liikmetile {
        min-width: unset;
        width: 90%;
    }
    
}

   