.liikmeteGrid-container {
    width: 1150px;
    margin-top: 50px;
    margin-bottom: 80px;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.liikmeteGrid-elemendid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: start; /* Vertically center items in each cell */
    justify-items: center; 
}



/*Scaling*/
@media (max-width: 1500px) {
    .liikmeteGrid-container {
        width: 1070px;
    }
    
}
@media (max-width: 1200px) {
    .liikmeteGrid-container {
        width: 80vw;
    }

    .liikmeteGrid-elemendid {
        grid-template-columns: 1fr 1fr;
    }
    
}

@media (max-width: 1000px) {
    .liikmeteGrid-container {
        width: 85vw;
    }
}

@media (max-width: 750px) {
    .liikmeteGrid-container {
        width: 95vw;
    }
    
}

@media (max-width: 600px) {
    .liikmeteGrid-container {
        width: 85vw;
    }

    .liikmeteGrid-elemendid {
        grid-template-columns: 1fr;
    }
    
}