.UudisedTilesGrid-container {
    width: 1180px;
    margin-top: 50px;
    margin-bottom: 80px;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.UudisedTilesGrid-elemendid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: start; /* Vertically center items in each cell */
    justify-items: center; 
}


/*Scaling*/
@media (max-width: 1500px) {
    .UudisedTilesGrid-container {
        width: 1000px;
    }
}

@media (max-width: 1200px) {
    .UudisedTilesGrid-container {
        width: 850px;
    }
}

@media (max-width: 1000px) {
    .UudisedTilesGrid-container {
        width: 97vw;
    }

    .UudisedTilesGrid-elemendid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 570px) {
    .UudisedTilesGrid-container {
        width: 97vw;
    }

    .UudisedTilesGrid-elemendid {
        grid-template-columns: 1fr;
    }
}