.kalendriPointTile-container {
    flex: 0 0 auto;
    position: relative;
    margin-top: 20px;
    margin-bottom: 200px;
    padding: 26px 20px 26px 30px;
    transform: scale(0.75);
    border-radius: 30px;
    display: flex;
    align-items: flex-start;
    width: 500px;
    background-color: #52575F;
    scroll-snap-align: start;
    margin-right: -80px;
}

.kalendriPointTile-kuupaev {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #EFA900;
    padding: 16px;
    border-radius: 7px;
}

.kalendriPointTile-sisu {
    display: flex;
    flex-direction: column;
    margin-left: 22px;
}

.kalendriPointTile-detail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.kalendriPointTile-detail-text {
    font-size: 19.5px;
    color: #F5F5F5;
}

.kalendriPointTile-pealkiri {
    margin-top: 14px;
    margin-bottom: 16px;
    margin-left: 10px;

}

/*scaling */
@media (max-width: 1250px) {
    .kalendriPointTile-container {
        transform: scale(0.75);
        margin-right: -80px;
    }
}


@media (max-width: 670px) {
    .kalendriPointTile-container {
        transform: scale(0.7);
        margin-right: -120px;
    }
}

@media (max-width: 500px) {
    .kalendriPointTile-container {
        transform: scale(0.6);
        margin-right: -140px;
        margin-left: -50px;
    }
}

@media (max-width: 450px) {
    .kalendriPointTile-container {
        transform: scale(0.6);
        margin-right: 0px;
        margin-left: 0px;
        width: 500px;
        margin-bottom: -70px;
    }
}
