.liikmeteGrid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 2fr));
    justify-items: center;
    gap: 20px;
    margin: 50px auto 80px;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
    max-width: min(90vw, 1120px); 
    box-sizing: border-box;
}

/*Scaling*/
@media (max-width: 1010px) {
    .liikmeteGrid {
        gap: 15px;
        max-width: min(90vw, 750px); 
    }
    
}
/*
@media (max-width: 1000px) {
    .liikmeteGrid {
        gap: 20px;
    }
    
}

@media (max-width: 800px) {
    .liikmeteGrid {
        margin-top: 50px;
    }
    
}*/