#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html, body {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
  -webkit-text-size-adjust: 100%; /* Prevents iOS/Android from enlarging small text */  
  -moz-text-size-adjust: 100%;  
  text-size-adjust: 100%;   
}