.uudised-body {
    position: relative;
    background-color: transparent;
    margin: 0;
    padding: 0;
    min-height: 100vh;    
    width: 100%;      
    margin-left: 0px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
    z-index: inherit;
    margin-bottom: 0px;
}

.uudised-container {
    position: relative;
    min-height: 100vh;
}

.uudised-bg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100%; 
    background-color: var(--softYellow);
    background-color: #F5F5F5;
    background-size: cover;
    z-index: -5;
}

.uudised-sisu {
    margin-top: 40px;
    margin-bottom: 60px;
    width: 100%;
}

