.footer {
    bottom: 0;
    /*margin-top: auto;*/
    margin-bottom: -100px;
    height: 190px;
    background-color: #02265A;
    z-index: 6000; 
    margin-left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-title {
    position: absolute;
    font-family: Cambria;
    text-align: center;
    color: #EFA900;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    white-space: nowrap;
    margin-top: 25px;
}

.footer-meil {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: -80px;
    width: 90vw;
}

.footer-kontaktid {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: -40px;
    align-items: center;
    width: 130px;
    z-index: 20;
}

.footer-kontakt {
    cursor: pointer;
    scale: 1.1;
    padding: 5px;
}



/*Scaling*/
@media (max-width: 1200px) {
    .footer-meil {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    
    .footer-kontaktid {
        bottom: -45px;
    }

}