.footer {
    bottom: 0;
    margin-top: auto;
    margin-bottom: -100px;
    height: 190px;
    background-color: #02265A;
    z-index: 6000; 
    margin-left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-title {
    position: absolute;
    font-family: 'Cambria', 'Times New Roman', serif;
    text-align: center;
    color: #EFA900;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    white-space: nowrap;
    margin-top: 25px;
}

.footer-meil {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: -80px;
    width: 90vw;
}

.footer-kontaktid {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: -40px;
    align-items: center;
    width: 130px;
    z-index: 20;
}

.footer-kontakt {
    cursor: pointer;
    scale: 1.1;
    padding: 5px;
}



/*Scaling*/
@media (max-width: 1000px) {
    .footer-title {
        font-size: 29px;
    }

}

@media (max-width: 850px) {
    .footer-title {
        font-size: 28px;
    }

    .footer-kontakt {
        scale: 1.1;
        padding: 5px;
    }

    .footer-meil {
        scale: 0.9;
    }

}

@media (max-width: 600px) {
    .footer-title {
        margin-top: 30px;
        font-size: 25px;
    }

    .footer-kontaktid {
        bottom: -45px;
    }

    .footer-kontakt {
        scale: 1.15;
        padding: 5px;
    }

    .footer-meil {
        scale: 0.8;
        bottom: -88px;
    }

}

@media (max-width: 500px) {
    .footer-title {
        margin-top: 30px;
        font-size: 23px;
    }

    .footer-kontaktid {
        bottom: -48px;
    }

    .footer-kontakt {
        scale: 1.15;
        padding: 5px;
    }

    .footer-meil {
        scale: 0.75;
        bottom: -88px;
        white-space: nowrap;
    }

}

@media (max-width: 400px) {
    .footer-title {
        margin-top: 32px;
        font-size: 20px;
    }

    .footer-kontaktid {
        bottom: -48px;
    }

    .footer-kontakt {
        scale: 1.1;
        padding: 5px;
    }

    .footer-meil {
        scale: 0.65;
        bottom: -88px;
        white-space: nowrap;
    }

}