.imageAndContent-container {
    position: relative;
    margin-bottom: 0px;
    width: 110%;
    padding: 0px 0px 20px 0px;
}

.imageAndContent-scroll {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}



.imageAndContent-content {
    color: black;
    width: 50%;
    margin-top: 30px;
}

.imageAndContent-bg {
    position: absolute;
    left: 50%; /* Center horizontally */ 
    transform: translateX(-50%); /* Adjust position */
    height: 100%;
    width: 100vw; /* Set width to cover container */
    z-index: -1; 
} 

.imageAndContent-sisu {
    width: 100%;
    display: flex; /* Enables flexbox layout */
    flex-direction: row; /* Ensures items align from left to right */
    gap: 0px; /* Adds spacing between items */
    justify-content: space-evenly; /* Aligns items to the left */
    align-items: flex-start; /* Centers items vertically (optional) */
    padding: 20px 0px 20px 0px;
    height: 100%;
}

.imageAndContent-image {
    width: 81%;
    height: auto;
    overflow: hidden;
}

.imageAndContent-image img {
    width: 100%;
    height: 100%;
    margin-bottom: 35px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    cursor: pointer;
}

.imageAndContent-imageGrid {
    width: 37%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Ensures images stick to the top */
    align-items: center;    

}

.imageAndContent-scroll-side {
    width: 31%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Ensures images stick to the top */
    align-items: center; 
}

/*Scaling*/
@media (max-width: 1400px) {
    .imageAndContent-container {
        width: 100vw;
    }

    .imageAndContent-image {
        width: 90%;
        height: auto;
        overflow: hidden;
    }

    .imageAndContent-scroll-side {
        width: 35%;
    }
}

@media (max-width: 950px) {
    .imageAndContent-sisu {
        width: 100%;
        display: flex; /* Enables flexbox layout */
        flex-direction: row; /* Ensures items align from left to right */
        gap: 0px; /* Adds spacing between items */
        justify-content: space-evenly; /* Aligns items to the left */
        align-items: flex-start; /* Centers items vertically (optional) */
        padding: 0px 0px 20px 0px;
        height: 100%;
    }

    .imageAndContent-content {
        color: black;
        width: 90%;
        margin-top: 30px;
    }

    .imageAndContent-container {
        width: 100vw;
    }

    .imageAndContent-image {
        width: 90%;
        height: auto;
        overflow: hidden;
    }
}

@media (max-width: 620px) {

    .imageAndContent-scroll {
        width: 90vw;
    }

    .imageAndContent-container {
        padding: 0px 0px 0px 0px;
    }

    .imageAndContent-sisu {
        padding: 0px 0px 0px 0px;
    }
}

@media (max-width: 400px) { 

    .imageAndContent-scroll {
        width: 95vw;
    }
}