.link {
    position: relative;
    color: #000000;
    font-family: 'Merriweather', Georgia, serif;
    font-weight: 300;
    font-size: 19px;
    text-align: left;
    cursor: pointer;
    margin-top: 0;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    transition: transform 0.3s ease;
    padding: 2px;
}

.link:hover {
    transform: translateY(-4px);
    color: #EFA900;
}



.link:after {
    content: "";
    position: absolute;
    bottom: 3.5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #EFA900;
    border-radius: 50px;
    opacity: 0;
}

.link.hover:after {  /* Apply the hover effects */
    opacity: 1;
    animation: lineAppearFromMiddle 0.2s ease-in-out;
}



.link.return:after {  /* Apply the "return" animation when not hovering */
    animation: lineDisappearToMiddle 0.4s ease-out;
}
