@font-face {
  font-family: "Liberation Sans";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/LiberationSans-Regular.woff2") format("woff2"),
       url("/fonts/LiberationSans-Regular.woff") format("woff");
  font-display: swap;
}

.PageNavigatorButtons-container {
    margin-bottom: 70px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.PageNavigorButtons-text {
    font-family: "Liberation Sans", sans-serif;
    color: 'black';
    font-weight: 100;
    margin-bottom: -2px;
    z-index: 2000;
    text-align: center;
    font-size: 15px;
    line-height: 1.2;
}

.PageNavigatorButtons-nupp {
    background-color: transparent;
    padding: 16px;
    width: 4px; 
    height: 4px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid transparent;
    box-sizing: border-box; 
}

.PageNavigatorButtons-nupp img{
    width: 23px;
}

.PageNavigatorButtons-nupp:hover {
    border: 2.5px solid #EFA900;
}

.PageNavigatorButtons-nupp.selected {
    background-color: #EFA900;
}

.PageNavigatorButtons-nupp.selected .PageNavigorButtons-text {

}

.PageNavigatorButtons-nupp-deactivated {
    background-color: transparent;
    padding: 16px;
    width: 4px; 
    height: 4px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    box-sizing: border-box;
}

.PageNavigatorButtons-nupp-deactivated img {
    width: 23px;
    margin-right: 2.5px;
    opacity: 0.4;
}