.page-headerLines-container {
    position: relative;
}

.page-headerLines {
    margin-top: 80px;
    position: relative; /* This makes the header a positioning context for the background */
}

.page-headerLines-text {
    z-index: 3000;
    font-family: Cambria;
    text-align: center;
    color: #EFA900;
    font-weight: 500;
    font-size: 55px;
    line-height: 1.2;
    position: relative;
    margin-top: 10px;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
} 


.page-headerLines-line {
    content: "";
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    min-width: 75vw;
    height: 4.5px;
    z-index: 50;
    border-radius: 50px;
    background-color: #EFA900;
}

.page-headerLines-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 235px;
    width: 100vw;
    background: linear-gradient(170deg, #02265A 5%, #2C3E50 100%);
}

/*Scaling*/
@media (max-width: 1100px) {
    .page-headerLines-line{
        width: 85vw;
    }
    
}


@media (max-width: 670px) {
    .page-headerLines-line {
        width: 100vw;
    }
    
}




