.pageHeaderImage-container {
    margin-top: 117px;
    margin-bottom: 30px;
    position: relative;
}

.pageHeaderImage-text {
    position: relative;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
}



.pageHeaderImage-bg {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100vw;
    height: 250px;
    overflow: hidden;
  }

  .pageHeaderImage-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* adjust color and opacity as needed */
    pointer-events: none; /* allows interaction with elements below */
  }
  
  .pageHeaderImage-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }