@font-face {
  font-family: "Caladea";
  src: url("/fonts/Caladea-Regular.woff2") format("woff2");
  font-weight: 400; font-style: normal;
}
@font-face {
  font-family: "Source Serif Pro";
  src: url("/fonts/SourceSerifPro-Regular.woff2") format("woff2");
  font-weight: 400; font-style: normal;
}
@font-face {
  font-family: "Charter";
  src: url("/fonts/Charter-Regular.woff2") format("woff2");
  font-weight: 400; font-style: normal;
}
.pageHeaderPlain-container {
    margin-top: 90px;
    margin-bottom: 40px;
    position: relative;
  }
  
  .pageHeaderPlainTitle {
    z-index: 2000;
    font-family: "Source Serif Pro", Caladea, Charter, Georgia, serif;
    text-align: center;
    font-weight: 500;
    font-size: 60px;
    line-height: 1.2;
    color: #EFA900;
  }

  .pageHeaderPlainTitle:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: 2px;
    border-radius: 2px;
    height: 4px;
    width: 102%;
    background-color: #EFA900;
  }
  

  