.topNavBar {
  margin-top: -35px;
  width: 100vw;
  height: 150px;
  left: 0px;
  z-index: 9000;
  background-color: #02265A;
  display: flex;
}



.topBar-buttons {
  width: 100%;
  height: 10%;
  background-color: transparent;
  align-items: center;
  gap: 9%;
  display: flex;
  width: 100%;
  justify-content: flex-end; /* Align items to the right */
  margin-top: 70px;
  margin-right: 140px; /* Adds spacing from the right edge */
  margin-left: 180px;
}






.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-left: 50px;
  margin-top: 0px;
  z-index: 9000;
  cursor: pointer;
  padding: 30px;
  text-decoration: none;
}

.logo img {
  width: 70px;
  margin-right: 15px; /* Adds spacing between the image and text */
  margin-top: -10px;
}

.logoTekst {
  font-family: Cambria;
  text-align: left;
  color: #F5F5F5;
  font-weight: 600;
  font-size: 23px;
  line-height: 1.2;
  white-space: nowrap;
}

  .about_me {
    text-align: center;
    font-weight: 200;
    font-size: 18px;
    background-color: transparent;
    color: #F5F5F5;
    border: none;
    cursor: pointer;
  }
  


.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #0d1b50;
  }
  
  .normalbtn {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 200;
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 30px;
  }

  
  .normalbtn:after {
    content: "";
    position: absolute;
    bottom: 28px;
    left: 14%;
    width: 74%;
    height: 2px;
    background-color: #EFA900;
    border-radius: 50px;
    opacity: 0;
}


  .normalbtn.hover {
    color: #EFA900;
  }

  

  .normalbtn.hover:after {  
    opacity: 1;
    animation: lineAppearFromMiddle 0.25s ease-in-out;
  }

  .normalbtn.return:after {  /* Apply the "return" animation when not hovering */
    animation: lineDisappearToMiddle 0.25s ease-out;
}


  .dropbtn {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    color: white;
    font-weight: 200;
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 25px;
  }

  
  .dropbtn:after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 13%;
    width: 68%;
    height: 2px;
    background-color: #EFA900;
    border-radius: 50px;
    opacity: 0;
}


  .dropbtn.hover {
    color: #EFA900;
  }

  

  .dropbtn.hover:after {  
    opacity: 1;
    animation: lineAppearFromMiddle 0.25s ease-in-out;
  }

  .dropbtn.return:after {  /* Apply the "return" animation when not hovering */
    animation: lineDisappearToMiddle 0.25s ease-out;
}





  .dropbtn img {
    width: 28px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #F5F5F5; 
    left: 50%;
    transform: translateX(-50%);
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
    padding: 10px 0;
  }
  

  
  .dropdown-content a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-size: 16px;
    background-color: #ffffff;
  }
  
  .dropdown-content a:hover {
    background-color: #EFA900;
    color:  #F5F5F5; 
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  .topBar-menuIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 50000;
  }
  
  
  .topBar-menuIcon img{
    margin-right: 15px;
    width: 40px;
    cursor: pointer;
    z-index: 50000;
  }

  /*Scaling*/
@media (max-width: 1200px) {
  .topNavBar {
    justify-content: space-between;
    align-items: center; 
    padding: 0 30px;
  }
  
  .logo {
    margin-left: -20px;
    scale: 0.73;
    padding: 0px;
  }

  .topNavBar {
    height: 120px;
  }

  .logoTekst {
    font-size: 25px;
  }
  
  
}

@media (max-width: 600px) {
  
  .logo {
    margin-left: -30px;
  }
  
  
}