.juhatusLiige-container {
    display: flex;
    flex-direction: column;
    width:300px;
    scale: 0.95;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 40px;
}

.juhatusLiige-pilt {
    aspect-ratio: 0.8;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    transform-origin: bottom center; 
}

.juhatusLiige-nimi {
    align-self: center;
    font-size: 22px;
    margin-bottom: 5px;
}

.juhatusLiige-bottom {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 226px;
    padding-top: 5px; 
    padding-bottom: 0px;
    margin-top: -5px;
    z-index: 1;
    background-color: #2c3E50;
}

.juhatusLiige-bottom-tekst {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    align-self: left;
    z-index: 1;
    width: 115%;
    transform-origin: center center; /* or “50% 50%” */
    transform: scale(0.8) translateX(-24px);
    padding: 0;
    
    margin: 0;
    margin-left: 0px;
}

.juhatusLiige-profile-text {
    margin-bottom: 5.5px;
    text-align: left;
}

.juhatusLiige-profile-kontakt-text {
    margin-top: 14px;
    margin-bottom: -23px;
    text-align: left;
}

/*Scaling*/
@media (max-width: 1500px) {
    .juhatusLiige-container {
        scale: 0.92;
        margin-bottom: 25px;
    }
}

@media (max-width: 1150px) {
    .juhatusLiige-container {
        scale: 0.8;
        margin-bottom: -60px;
    }
} 


@media (max-width: 1000px) {
    .juhatusLiige-container {
        scale: 1;
        margin-bottom: 65px;
    }
} 

@media (max-width: 900px) {
    .juhatusLiige-container {
        scale: 0.9;
        margin-bottom: 8px;
    }

    .juhatusLiige-profile-kontakt-text {
        transform-origin: left center;
        transform: scale(1.1);
        margin-bottom: -20px;
    }
} 

@media (max-width: 750px) {
    .juhatusLiige-container {
        scale: 0.8;
        margin-bottom: -66px;
    }

    
} 

@media (max-width: 700px) {
    .juhatusLiige-container {
        scale: 1.05;
        margin-bottom: 98px;
    }
} 

@media (max-width: 500px) {
    .juhatusLiige-container {
        scale: 0.92;
        margin-bottom: -10px;
    }

    .juhatusLiige-profile-kontakt-text {
        transform-origin: left center;
        transform: scale(1.2);
        margin-bottom: -17px;
    }
} 

