* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --light-color: #F5F5F5; 
  --primary-color: #02265A;
  --secondary-color: #EFA900;
  --bg-yellow:  #FFF1E6;
  --sub-primary-color: #52575F;
  --soft-white: #F5F5F5; 
  --dark-blue: #02265A;
  --yellow: #EFA900;
  --softYellow:  #FFF1E6;
  --gray: #52575F;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 2;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}





/* Naiteks logo jaoks*/
.h1 {
  z-index: 2000;
  font-family: Cambria;
  text-align: left;
  color: #F5F5F5;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.2;
}

/* vaike tekst naiteks lingid */
.h3 {
  z-index: 2000;
  text-align: center;
  color: #F5F5F5;
  font-weight: 100;
  font-size: 15px;
  line-height: 1.2;
}

/* vaike tekst naiteks kontaktid*/
.h4 {
  z-index: 2000;
  text-align: center;
  color: #F5F5F5;
  font-weight: 100;
  font-size: 10px;
  line-height: 1.2;
}

/*For Normal Text Content*/
.textContent-container {
  margin-top: 0;
  width: 80%;
  margin-bottom: 160px;
}


.big-header {
  z-index: 2000;
  font-family: Cambria;
  text-align: left;
  color: #EFA900;
  font-weight: 500;
  font-size: 44px;
  line-height: 1.2;
  margin-bottom: 30px;
  margin-top: 70px;
}

.big-header2 {
  z-index: 2000;
  font-family: Cambria;
  text-align: left;
  color: #EFA900;
  font-weight: 300;
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: 30px;
  margin-top: 70px;
}


.mid-header {
  z-index: 2000;
  font-family: Cambria; 
  text-align: left;
  color: #EFA900;
  font-weight: 50;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 10px;
  margin-top: 70px;
}

.sub-header {
  z-index: 2000;
  font-family: Cambria;
  text-align: left;
  color: var(--secondary-color);
  font-weight: 300;
  font-size: 23.5px;
  line-height: 1.1;
  margin-top: 30px;
  margin-bottom: 6px;
}

.sub-header-white {
  z-index: 2000;
  font-family: Cambria;
  text-align: left;
  color: var(--light-color);
  font-weight: 300;
  font-size: 23.5px;
  line-height: 1.1;
  margin-top: 30px;
  margin-bottom: 6px;
}

.normal-text {
  color: black;
  font-family: 'Merriweather' ;
  text-align: left;
  font-weight: 200;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 32px;
}

.bold {
  color: black;
  font-family: 'Merriweather' ;
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 32px;
  display: inline;
}

.small-text {
  color: black;
  font-family: 'Merriweather' ;
  text-align: left;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 32px;
}

.small-text-white {
  color: var(--light-color);
  font-family: 'Merriweather' ;
  text-align: left;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.4;
}

.loetelu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 8px;
  margin-left: 20px;
  gap: 6px;
  margin-bottom: 30px;
}

.bulletPoint {
  position: relative;
}

.bulletPoint::before {
  content: '';
  background-image: url('/src/General/Design elements/bulletDot.svg'); 
  background-repeat: no-repeat;
  margin-right: 9px;
  width: 5px; 
  height: 5px;
  display: inline-block; 
  vertical-align: middle; 
  color: inherit;
}





/*---------------*/