:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 2;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: aliceblue;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0;
}

.your-class {
  height: 2%;
  background-color: #020066;
}

.about_me {
  text-align: center;
  font-weight: 600;
  color: aliceblue;
  text-decoration: inherit;
  background-color: #020066;
}

.text {
  color: black;
  text-align: left;
  font-weight: 200;
}

.h1 {
  size: 1200px;
  color: #020066;
}
