.uudisLehtHeader-container{
    position: relative;
    width: 80%;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 0px 0px 30px 0px;
}


.uudisLehtHeader {
    width: 100%;
}


.uudisLehtHeader-line {
    content: "";
    z-index: 1000;
    margin-top: -24px;
    margin-bottom: 6px;
    width: 100%;
    height: 4px;
    background-color: #F5F5F5; 
    flex-shrink: 0;
}

.uudisLehtHeader-date {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.uudisLehtHeader-pildiAutor {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 8px;
}

.uudisLehtHeader-bg {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-right: -50vw;
    width: 100vw;
    height: 100%;
    z-index: -1;
    background-color:  #02265A;
}

.uudisLehtHeader-pilt {
    margin-top: 50px;
}