.MidTextSeparator-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    width: 100vw;
}

.MidTextSeparator-sisu {
    position: relative;
    width: 800px;
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
} 

.MidTextSeparator-sisu-text {
    text-align: center;
} 

/*Scaling*/
@media (max-width: 800px) {
    .MidTextSeparator-sisu {
        width: 90%;
    } 
}


@media (max-width: 700px) {
    .MidTextSeparator-sisu-text {
        font-size: 18px;
    } 
}

@media (max-width: 450px) {
    .MidTextSeparator-sisu {
        width: 93%;
    } 
}
