.Syndmus-container {
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 190px;
    width: 100%;
}

.Syndmus-sisu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 120px; 
}

.Syndmus-line {
    background-color: #EFA900;
    width: 100%;
    height: 2.5px;
    align-self: flex-start;
}

.Syndmus-kuupaev {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #EFA900;
    padding: 15px;
}

.Syndmus-kirjeldus{
    width: 80%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-right: 15px;
}




.Syndmus-kirjeldus-alapunkt{
    margin-bottom: 7px;
}



.Syndmus-details {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; /* Ensures items are vertically centered */
    gap: 20px;
    width: 100%; /* Optional: Ensure no implicit shrink occurs */
    margin-bottom: 10px;
    margin-left: -5px;
}

.Syndmus-detail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.Syndmus-detail-text {
    font-size: 19.5px;
}

.Syndmus-detail img{
    margin-top: -12px;
}

/*Scaling*/
@media (max-width: 970px) {
    .Syndmus-detail-text {
        font-size: 18px;
    }

    .Syndmus-detail img{
        transform: scale(0.95);
    }

    .Syndmus-sisu {
        gap: 60px; 
    }
}

@media (max-width: 750px) {
    .Syndmus-kirjeldus-pealkiri {
        font-size: 24px;
    }

    .Syndmus-kirjeldus{
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .Syndmus-detail-text {
        font-size: 16.5px;
    }

    .Syndmus-detail img{
        transform: scale(0.85);
    }

    .Syndmus-kirjeldus-alapunkt{
        font-size: 14px;
    }

    .Syndmus-sisu {
        gap: 40px; 
    }

    .Syndmus-details {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; /* Ensures items are vertically centered */
        gap: 7px;
        width: 100%; /* Optional: Ensure no implicit shrink occurs */
        margin-bottom: 10px;
        margin-left: 0px;
    }


    .Syndmus-sisu {
        gap: 30px; 
    }
}

@media (max-width: 550px) {
    .Syndmus-kirjeldus-pealkiri {
        font-size: 21px;
    }

    .Syndmus-kirjeldus{
        margin-top: 12px;
        margin-bottom: 23px;
        padding-right: 15px;
    }
}