.VaataVeel-container {
    margin-top: 20px;
    margin-bottom: 100px;
    position: relative;
    width: 100%;
}

.VaataVeel-elemendid {
    margin: 0 auto;
    width: 1500px;
    max-width: 1500px; width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 60px;
}

.VaataVeel-rohkem-container {
    margin-top: 20px;
    position: relative;
    width: 200px;
    margin-left: auto; 
    margin-right: auto;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center; 
    text-align: center;
    cursor: pointer;
    padding: 12px 20px;
    transform: scale(1);
    border: 1.5px solid #EFA900; 
    border-radius: 10px;
    background-color: #FFFAE5; /* Light pastel yellow for normal state */
    transition: transform 0.3s ease, background-color 0.3s ease;

}

.VaataVeel-rohkem-container:hover {
    transform: scale(1.05) translateY( 0px);
    background-color: #FFF0B3; /* Subtle hover background effect */
}

.VaataVeel-rohkem-text {
    color: black;
    font-family: 'Cambria', serif;
    font-weight: 300; /* Slightly lighter font weight */
    font-size: 22px;
    z-index: 1;
    transition: color 0.3s ease;
}

.VaataVeel-rohkem-text.hovering {
    color: #EFA900;
}

.VaataVeel-rohkem-img {
    width: 26px; /* Smaller icon for balance */
    transition: transform 0.3s ease;
}

.VaataVeel-rohkem-img.hovering {
    transform: scale(1.2);
}



/*Scaling*/
@media (max-width: 1600px) {
    .VaataVeel-elemendid {
        width: 1100px;
    }
    
}

@media (max-width: 1220px) {
    .VaataVeel-elemendid {
        width: 920px;
    }
    
}

@media (max-width: 975px) {
    .VaataVeel-elemendid {
        width: 100%;
        display: grid;  
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-items: center;  
        align-items: flex-start; 
        padding: 0 10px
    }

}